<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 text-center text-md-start">
                © 2014 - <script>document.write(new Date().getFullYear())</script> Optimal Upchuck By <span class="fw-semibold">DA GRIFFIN Productions</span>
            </div>
            <div class="col-md-6">
                <div class="text-md-end d-none d-md-block">
                    Estimated life remaining <span class="fw-bold">2500 Days</span>.
                </div>
            </div>
        </div>
    </div>
</footer>